#header {
  background-color: #260439;
  color: #882E61;
  margin-bottom: 0.5em;
  -webkit-box-shadow: 1px 16px 26px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 1px 16px 26px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 16px 26px 3px rgba(0,0,0,0.4);
  z-index: 1;
  /*position: fixed;*/
  width: 100%;
}

#header .fa:hover {
  color: #641040;
}

#header a:link {
  color: #882E61;
}

#header a:visited {
  color: #882E61;
}

#header a:active {
  color: #440127;
}

#header a:hover {
  text-decoration: none;
  color: #641040;
}

.sidebar {
  background-color: #403074;
  float: left;
  position: fixed;
  color: #040110;
  width: 16em;
  height: 100%;
  -webkit-box-shadow: 12px 12px 16px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 12px 12px 16px 3px rgba(0,0,0,0.4);
  box-shadow: 12px 12px 16px 3px rgba(0,0,0,0.4);
}